<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <h1>{{location.city}}, {{location.country}}</h1>
        <img scr="">
    </body>
</html>